p#back-to-top{
    position:fixed;
    bottom:0px;
    right:0px;
}
p#back-to-top a{
    text-align:center;
    text-decoration:none;
    color:#d1d1d1;
    display:block;
    width:40px;
    -moz-transition:color 1s;
    -webkit-transition:color 1s;
    -o-transition:color 1s;
}
p#back-to-top a:hover{
    color:#979797;
}
p#back-to-top a span{
    background:#d1d1d1 url(../images/arrow-up.png) no-repeat center center;
    border-radius:6px;
    display:block;
    height:40px;
    width:40px;
    margin-bottom:5px;
    -moz-transition:background 1s;
    -webkit-transition:background 1s;
    -o-transition:background 1s;
}
#back-to-top a:hover span{
    background:#979797 url(../images/arrow-up-red.png) no-repeat center center;
}